html, header, input{
    background:#F1F9F9;
    color:#9EB1B1;
    font-family: 'Courgette', cursive;
}

header{
 
    width:100%;
    height: 80px;
    position: fixed;
    z-index:200;
    border-bottom: double 5px lightgrey; 
    box-shadow: 2px 1px 12px 1px grey;
}
a{
text-decoration: none;
    cursor: default;
}
a p {
display: none;
}

input{
    font-size: 1.01rem;
    background:#fff;
    width:75%;
    max-width: 460px;
    height:16pt;
    border-radius: 4px;
    border:solid 2px lightgrey;
    display: block;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

input:focus{
    outline:none;
    box-shadow: 1px 1px 10px 1px lightgrey; 
}

main{
    position: relative;
    top:80px;
    z-index:100;
}
#wrap{
    width:100%;
}

.gallery{
    max-width: 1050px; 
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
}

.thumbnail{
    width:140px;
    margin:20px;
    display: inline-block;
    box-shadow: 4px 4px 10px 2px grey;
    border-radius:5px;
    cursor: pointer;
    
}

.thumbnail:hover{
   transform: scale(1.1);
}

h4{
    text-align: center;
}

.lg-sub-html p{
font-size: 1.1rem;
}
@media (min-width:780px){
.thumbnail{
    width:185px;
    margin:30px;
}
}
